<!-- <h2 mat-dialog-title>Login</h2> -->
<div class="card text-white bg-info mb-0" style="max-width: 48rem;">
  <div class="card-header" style="text-align: center">ManageAll Login</div>
  <div class="card-body">
    <h5 class="card-title">Go to Console</h5>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
      <button mat-button [mat-dialog-close]="true" class="btn btn-default">Close</button>
    </form>
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
  </div>
</div>
<!-- <mat-dialog-content>Are you sure?</mat-dialog-content> -->
<!-- <mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button> -->
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <!-- <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions> -->