<div class="card text-white bg-info mb-0" style="max-width: 30rem;">
  <div class="card-header" style="text-align: center">ManageAll SignUp</div>
  <div class="card-body">
    <!-- <h5 class="card-title">Please fill below details:</h5> -->
    <form>
      <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" aria-describedby="Name" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Choose Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <!-- <div class="form-group">
          <label for="exampleInputConfirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="exampleInputConfirmPassword" placeholder="Confirm Password">
      </div> -->
      <!-- <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Remember Me</label>
      </div> -->
      <button type="submit" class="btn btn-default">Sign Up</button>&nbsp;
      <!-- <button mat-button [mat-dialog-close]="true" class="btn btn-default">Close</button> -->
    </form>
  </div>
</div>

<!-- 
<div class="card">
    <div class="card-header" style="text-align: center">ManageAll SignUp</div>
    <div class="card-body">
        <h5 class="card-title">Please fill below details:</h5>
        <form>
          <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" aria-describedby="Name" placeholder="Enter Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Choose Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
              <label for="exampleInputConfirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="exampleInputConfirmPassword" placeholder="Confirm Password">
          </div>
          <button type="submit" class="btn btn-default">Sign Up</button>&nbsp;
      
        </form>
    </div>
  </div> -->