  <!-- sign-up-complete works!
  {{signUpData.email}}
  {{signUpData.password}} -->
<div class="container"><hr>
<h6><mat-icon color="primary"> border_color</mat-icon>&nbsp;<u>Complete your sign up.</u></h6>
  <mat-vertical-stepper linear>
    <mat-step [stepControl]="signUpPersonalForm">
      <form [formGroup]="signUpPersonalForm" (ngSubmit)="SubmitSignUpPersonalForm(signUpPersonalForm.value)">
        <ng-template matStepLabel>Fill out your personal details.</ng-template>
        <div class="form-group" [ngClass]="{'has-error':(!signUpPersonalForm.controls['firstname'].valid && signUpPersonalForm.controls['firstname'].touched) || (!signUpPersonalForm.controls['lastname'].valid && signUpPersonalForm.controls['lastname'].touched)}">
            <mat-form-field>
                <mat-label>First Name:</mat-label>
                <input matInput [formControl]="signUpPersonalForm.controls['firstname']">
                <mat-icon matSuffix>person_outline</mat-icon>
                <mat-error *ngIf="signUpPersonalForm.controls['firstname'].hasError('required') && signUpPersonalForm.controls['firstname'].touched">Please type your first name.</mat-error>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <mat-label>Last Name:</mat-label>
                <input matInput [formControl]="signUpPersonalForm.controls['lastname']">
                <mat-icon matSuffix>person</mat-icon>
                <mat-error *ngIf="signUpPersonalForm.controls['lastname'].hasError('required') && signUpPersonalForm.controls['lastname'].touched">Please type your last name.</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group" [ngClass]="{'has-error':(!signUpPersonalForm.controls['email'].valid && signUpPersonalForm.controls['email'].touched)|| (!signUpPersonalForm.controls['contactNo'].valid && signUpPersonalForm.controls['contactNo'].touched)}">
            <mat-form-field>
                <mat-label>Email:</mat-label>
                <input matInput [formControl]="signUpPersonalForm.controls['email']">
                <mat-icon matSuffix>mail</mat-icon>
                <mat-hint *ngIf="signUpPersonalForm.controls['email'].hasError('isEmailUnique')">Account Not Available!</mat-hint>
                <mat-hint *ngIf="!signUpPersonalForm.controls['email'].hasError('isEmailUnique') && signUpPersonalForm.controls['email'].touched">Account Available!</mat-hint>
                <mat-error *ngIf="signUpPersonalForm.controls['email'].hasError('required') && signUpPersonalForm.controls['email'].touched">Please type your email address.</mat-error>
                <mat-error *ngIf="signUpPersonalForm.controls['email'].hasError('email') && signUpPersonalForm.controls['email'].touched">Please type correct email address.</mat-error>
                <mat-error *ngIf="signUpPersonalForm.controls['email'].hasError('isEmailUnique') && signUpPersonalForm.controls['email'].touched">This email is already registered with us.</mat-error>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
              <mat-label>Contact No:</mat-label>
              <input matInput [formControl]="signUpPersonalForm.controls['contactNo']">
              <mat-icon matSuffix>call</mat-icon>
              <mat-hint>Please mention your country code, e.g., +1.</mat-hint>
              <mat-error *ngIf="signUpPersonalForm.controls['contactNo'].hasError('required') && signUpPersonalForm.controls['contactNo'].touched">Please type your contact number.</mat-error>
              <mat-error *ngIf="signUpPersonalForm.controls['contactNo'].hasError('pattern') && signUpPersonalForm.controls['contactNo'].touched">Please enter valid number</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!signUpPersonalForm.controls['password'].valid && signUpPersonalForm.controls['password'].touched}">
            <mat-form-field>
                <mat-label>Password:</mat-label>
                <input matInput [formControl]="signUpPersonalForm.controls['password']" [type]="hide ? 'text' : 'password'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint>Please follow password policy: <mat-icon  matTooltip="Password Policy:&#13;1.Password should be 6 character long.&#13;2.It must be a combination of lower and uppercare characters.&#13;3.It must contain a special character e.g., #,$,%.&#13;4.It must contain a number." [matTooltipClass]="'my-tooltip'">error</mat-icon></mat-hint>
                <mat-error *ngIf="signUpPersonalForm.controls['password'].hasError('required') && signUpPersonalForm.controls['password'].touched">Please type your password.</mat-error>
                <mat-error *ngIf="signUpPersonalForm.controls['password'].hasError('passwordStrength') && signUpPersonalForm.controls['password'].touched">Password policy voilated.<mat-icon  matTooltip="Password Policy:&#13;1.Password should be 6 character long.&#13;2.It must be a combination of lower and uppercare characters.&#13;3.It must contain a special character e.g., #,$,%.&#13;4.It must contain a number." [matTooltipClass]="'my-tooltip'">error</mat-icon></mat-error>
            </mat-form-field>
        </div>    
        <div class="form-group" [ngClass]="{'has-error':!signUpPersonalForm.controls['confirm_password'].valid && signUpPersonalForm.controls['confirm_password'].touched}">
            <mat-form-field>
                <mat-label>Confirm Password:</mat-label>
                <input matInput type="password" [formControl]="signUpPersonalForm.controls['confirm_password']">
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-error *ngIf="signUpPersonalForm.controls['confirm_password'].hasError('required') && signUpPersonalForm.controls['confirm_password'].touched">Please type confirm password.</mat-error>
                <mat-error *ngIf="signUpPersonalForm.controls['confirm_password'].hasError('noMatch') && signUpPersonalForm.controls['confirm_password'].touched">Password doesn't match.</mat-error>
            </mat-form-field>
        </div>    
        <br>
          <button mat-raised-button color="primary" type="submit" [disabled]="!signUpPersonalForm.valid" matStepperNext>Next</button>
      </form>
    </mat-step>
    <mat-step>
      <br>  
      <ng-template matStepLabel>Fill out your organization details</ng-template>
        <label>Tell us your role:</label>&nbsp;&nbsp;
        <mat-radio-group>
            <mat-radio-button value="1" (click)="chooseRole('employee')">Employee</mat-radio-button>
            &nbsp;
            <mat-radio-button value="2" (click)="chooseRole('organization')">Organization</mat-radio-button>
        </mat-radio-group>
        <form *ngIf="employee" [formGroup]="signUpEmployeeForm" (ngSubmit)="SubmitSignUpEmployeeForm(signUpEmployeeForm.value)">
          <mat-form-field>
            <mat-select placeholder="Your Organization" [formControl]="signUpEmployeeForm.controls['orgName']">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let org of organizationData" [value]="org">
                {{org.orgName}}:{{org.location}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="signUpEmployeeForm.controls['orgName']">Please choose an organization</mat-error>
          </mat-form-field>
          <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="!signUpEmployeeForm.valid" matStepperNext>Next</button>
          </div>
        </form>
        <form *ngIf="organization" [formGroup]="signUpOrganizationForm" (ngSubmit)="SubmitSignUpOrganizationForm(signUpOrganizationForm.value)">
          <label>Add your Organization.</label>
          <div class="form-group" [ngClass]="{'has-error':!signUpOrganizationForm.controls['orgName'].valid && signUpOrganizationForm.controls['orgName'].touched}">
              <mat-form-field>
                  <mat-label>Organization Name:</mat-label>
                  <input matInput [formControl]="signUpOrganizationForm.controls['orgName']">
                  <mat-icon matSuffix>business_center</mat-icon>
                  <mat-hint *ngIf="!signUpOrganizationForm.controls['orgName'].hasError('isOrgUnique') && signUpOrganizationForm.controls['orgName'].touched">Organization Available!</mat-hint>
                  <mat-error *ngIf="signUpOrganizationForm.controls['orgName'].hasError('required') && signUpOrganizationForm.controls['orgName'].touched">Please type your organization name.</mat-error>
                  <mat-error *ngIf="signUpOrganizationForm.controls['orgName'].hasError('isOrgUnique') && signUpOrganizationForm.controls['orgName'].touched">This organization is already registered with us.</mat-error>
                  <mat-error *ngIf="signUpOrganizationForm.controls['orgName'].hasError('error') && signUpOrganizationForm.controls['orgName'].touched">There has been some error, please try again after sometimes.</mat-error>
              </mat-form-field>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!signUpOrganizationForm.controls['about'].valid && signUpOrganizationForm.controls['about'].touched}">
            <mat-form-field>
                <mat-label>About Organization:</mat-label>
                <textarea matTextareaAutosize matAutosizeMinRows=3 matAutosizeMaxRows=5 matInput [formControl]="signUpOrganizationForm.controls['about']"></textarea>
                <mat-icon matSuffix>description</mat-icon>
                <mat-error *ngIf="signUpOrganizationForm.controls['about'].hasError('required') && signUpOrganizationForm.controls['about'].touched">Please type about organization</mat-error>
            </mat-form-field>
        </div> 
        <div class="form-group" [ngClass]="{'has-error':(!signUpOrganizationForm.controls['founder'].valid && signUpOrganizationForm.controls['founder'].touched) || (!signUpOrganizationForm.controls['foundedIn'].valid && signUpOrganizationForm.controls['foundedIn'].touched) || (!signUpOrganizationForm.controls['location'].valid && signUpOrganizationForm.controls['location'].touched)}">
          <mat-form-field>
              <mat-label>Founder:</mat-label>
              <input matInput [formControl]="signUpOrganizationForm.controls['founder']">
              <mat-icon matSuffix>contacts</mat-icon>
              <mat-error *ngIf="signUpOrganizationForm.controls['founder'].hasError('required') && signUpOrganizationForm.controls['founder'].touched">Please type organization's founder name</mat-error>
          </mat-form-field>
          &nbsp;
          <mat-form-field>
            <mat-label>Founded In:</mat-label>
            <input matInput [formControl]="signUpOrganizationForm.controls['foundedIn']">
            <mat-icon matSuffix>event_note</mat-icon>
            <mat-hint>Please type only year, e.g., 1978.</mat-hint>
            <mat-error *ngIf="signUpOrganizationForm.controls['foundedIn'].hasError('required') && signUpOrganizationForm.controls['foundedIn'].touched">Please type year of foundation</mat-error>
            <mat-error *ngIf="signUpOrganizationForm.controls['foundedIn'].hasError('maxLength') && signUpOrganizationForm.controls['foundedIn'].touched">Please type valid year</mat-error>
            <mat-error *ngIf="signUpOrganizationForm.controls['foundedIn'].hasError('pattern') && signUpOrganizationForm.controls['foundedIn'].touched">Please enter valid year</mat-error>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <mat-label>Location:</mat-label>
          <input matInput [formControl]="signUpOrganizationForm.controls['location']">
          <mat-icon matSuffix>my_location</mat-icon>
          <mat-error *ngIf="signUpOrganizationForm.controls['location'].hasError('required') && signUpOrganizationForm.controls['location'].touched">Please type the location.</mat-error>
      </mat-form-field>
      </div>
      <div class="form-group" [ngClass]="{'has-error':(!signUpOrganizationForm.controls['domain'].valid && signUpOrganizationForm.controls['domain'].touched) || (!signUpOrganizationForm.controls['companySize'].valid && signUpOrganizationForm.controls['companySize'].touched)}">
        <mat-form-field>
            <mat-label>Company Size:</mat-label>
            <input matInput [formControl]="signUpOrganizationForm.controls['companySize']">
            <mat-icon matSuffix>aspect_ratio</mat-icon>
            <mat-error *ngIf="signUpOrganizationForm.controls['companySize'].hasError('required') && signUpOrganizationForm.controls['companySize'].touched">Please type company size.</mat-error>
            <mat-error *ngIf="signUpOrganizationForm.controls['companySize'].hasError('pattern') && signUpOrganizationForm.controls['companySize'].touched">Please enter valid size</mat-error>
        </mat-form-field>
      &nbsp;
      <mat-form-field>
        <mat-select placeholder="Domain" [formControl]="signUpOrganizationForm.controls['domain']">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let dom of organizationDomains" [value]="dom">
            {{dom.domainName}}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>domain</mat-icon>
        <mat-error *ngIf="signUpOrganizationForm.controls['domain'].hasError('required') && signUpOrganizationForm.controls['domain'].touched">Please choose a domain.</mat-error>
    </mat-form-field>
    </div> 
    <div class="form-group" [ngClass]="{'has-error':!signUpOrganizationForm.controls['role'].valid && signUpOrganizationForm.controls['role'].touched}">
      <mat-form-field>
        <mat-select placeholder="Your Role" [formControl]="signUpOrganizationForm.controls['role']">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let role of organizationRoles" [value]="role">
            {{role.roleName}}
          </mat-option>
          <mat-option (click)="clickOthers()" value="Others">Others</mat-option>
        </mat-select>
        <mat-icon matSuffix>accessibility</mat-icon>
        <mat-error *ngIf="signUpOrganizationForm.controls['role'].hasError('required') && signUpOrganizationForm.controls['role'].touched">Please choose your role.</mat-error>
    </mat-form-field>
    &nbsp;
    <mat-form-field *ngIf="OtherRole">
        <mat-label>Other Role:</mat-label>
        <input  matInput [formControl]="signUpOrganizationForm.controls['role']" placeholder="Other Role">
        <mat-icon matSuffix>accessibility</mat-icon>
        <mat-error *ngIf="signUpOrganizationForm.controls['role'].hasError('required') && signUpOrganizationForm.controls['role'].touched">Please choose your role.</mat-error>
    </mat-form-field>
  </div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="!signUpOrganizationForm.valid" matStepperNext>Next</button>   
        </form>
      
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template><br>
       <mat-checkbox [(ngModel)]="checkedPolicy" (click)="agreementFlag=!agreementFlag"></mat-checkbox>I have read and understood the&nbsp;<span (click)="openPrivacyPolicy()" style="color:blue">Privacy Policy for ManageAll.</span>
      <div>
        <button *ngIf="agreementFlag==true" color="primary" mat-button  (click)="submitFinal()">Finish</button>
        <button mat-button matStepperPrevious>Back</button>
        <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
      </div>
    </mat-step>
  </mat-vertical-stepper> 
</div>