/* You can add global styles to this file, and also import other style files */
.navbar-light{
    background: #fff;
    border: 0;
    font-family: Poppins;
}
.navbar-brand{
    font-size: 20px;
    color:#fff;
    font-weight: bold;

}
nav a {
    float: right !important;
}
.active{
    background-color: lightgrey;
    border-radius: 10px;
    padding: 3px;
}