/* You can add global styles to this file, and also import other style files */
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    font-family: Roboto, Arial, sans-serif;
}
.navbar-light{
    background: #fff;
    font-family: Poppins, sans-serif;
}
.navbar-brand{
    font-size: 25px;
    color:#fff;
    font-weight: bold;

}
.navbar{
    border: 0;
    border-bottom: 2px;
    font-size: 14px;
    margin-bottom: 0px;
    /* padding : 0px; */
}
nav a {
    float: right !important;
}
.active{
    /* background-color: lightgrey;
    border-radius: 10px;
    padding: 0px; */
    border-bottom: 3px solid blue;
}
.topborder {
    border: 0.5px solid lightgrey;
    margin: 0%;
}  
/* Mat styles */

/* .my-full-screen-dialog .mat-dialog-container {
    max-width: none;
    width: 100vw;
    height: 100vh;
  }

  .my-full-screen-dialog {
    height: 100vh;
    width: 100vw !important;
    max-width: none !important;
  } */
  .custom-dialog-container .mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    display: block;
    border-radius: 4px;
    padding: 1px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    background-color: whitesmoke;
}

.my-tooltip {
    white-space: pre-line;
}