<p *ngIf="userData!=null">
        <mat-toolbar color="grey">
                <span>ManageAll Console</span>
              
                <!-- This fills the remaining space of the current row -->
                <span class="example-fill-remaining-space"></span>
                <button mat-button [matMenuTriggerFor]="menu">Menu</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu>
                <span>
                       
                </span>
              </mat-toolbar>
</p>    
<p *ngxPermissionsOnly="['CEO']">
  console-home working 
</p>
<ng-template
     [ngxPermissionsOnly]="['CEO']" 
     [ngxPermissionsOnlyThen]="thenBlock" 
     [ngxPermissionsOnlyElse]="elseBlock">
       </ng-template>
      <ng-template #elseBlock>
          <div>You are not authorized to view the contents.</div>
      </ng-template>
      <ng-template #thenBlock>
          <div>Welcome CEO</div>
      </ng-template>